{% load filters %}
{% if latest_quote_list %}
<a href="/quote/add">Ajouter une citation</a>
<ul>
  {% for quote in latest_quote_list %}
  <li>
    <h2>
      {% for author in quote.authors.all %}
      {{author.author_text}} 
      {% endfor %}
    </h2>
    <i>{{quote.context_text}}</i>
    <p>{{quote.quote_text}}</p>
  </li>
  {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
<ul>
{% for p in max_page|get_range %}
  <li>
    <a href="/quote/{{p}}">
    {% if p == index %}
      <b>{{p}}</b>
    {% else %}
      {{p}}
    {% endif %}
    </a>
  </li>
{% endfor %}
</ul>
